---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Abril 2021 - Actualidad",
    title: "Founder & CEO",
    company: "🇦🇷 VexyHost",
    description:
      "Mi emprendimiento de hosting con servidores distribuidos en más de 7 países, le dedico tiempo como hobby y aplico toda mi experiencia adquirida en trabajos y proyectos anteriores. Como emprendedor uno se ve obligado a resolver y enfrentar situaciones por sí mismo, a rebuscársela uno mismo, esto me hace tener una perspectiva más amplia que muchas veces facilita mi desempeño en diversas áreas.",
    link: "https://vexyhost.com/",
  },
  {
    date: "Junio 2022 - Mayo 2023",
    title: "SysAdmin IT Cloud & IaaS",
    company: "🇦🇷 Argentina",
    description:
      "Empresa de hosting web y servidores ubicado en Argentina, Rosario. Mi experiencia fue mayormente con clientes de Argentina y Latinoamérica, mis roles eran atender casos de incidencia en el datacenter, cumplir guardias presenciales los fines de semana y resolver aquellos casos de soporte de clientes que requerían mayor nivel técnico. Tuve experiencias con Infraestructura OpenStack, Sistema de almacenamiento CEPH y resolviendo problemas en entornos de virtualización como Cloud Servers y Servidores Dedicados tanto Linux como Windows, también tuve un poco de contacto con servicios de correos como Smarthost y Exim.",
    link: "https://donweb.com/",
  },
  {
    date: "Mayo 2021 - Marzo 2022",
    title: "IT Technical Support",
    company: "🇳🇱 Skynode",
    description:
      "Empresa de hosting para videojuegos ubicado en Países Bajos con clientes de todo el mundo. Toda mi experiencia en esta empresa fue en inglés, el soporte se realizaba vía Discord, Livechat, WHMCS y a veces redactaba guías y tutoriales para los clientes.",
    link: "https://www.skynode.pro/",
  },
  {
    date: "Marzo 2020 - Septiembre 2020",
    title: "Soporte técnico IT & Desarrollo Web",
    company: "🇲🇽 AServerHost",
    description:
      "Responsable del área de soporte técnico de la empresa y desarrollo de sitios webs para empresas constructoras de México. En el área de soporte me encargaba de responder a los clientes por tickets y livechat. Sobre el desarrollo de sitios webs se realizaban en WordPress y se entregaba el proyecto al cliente.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
